email_to_task_creation.json
{
  "name": "email_to_task_creation",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -528,
        -464
      ],
      "id": "16b1ccbd-a87b-4e7a-b9e6-6ebe61733fe2",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "T2mbFpk97Bnp2Neq",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Here is the email context that I extract from my customer order:\n{{ $json['Email Context'] }}\nExtract the following fields from this email:\n- product_id\n- quantity\n- delivery_date\n- customer\n- address\n- phone\n- email\n\nReturn valid JSON only.\n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -80,
        -464
      ],
      "id": "fe62756a-0307-482a-8a85-655f1888df14",
      "name": "Extract Info from unstructured data",
      "credentials": {
        "googlePalmApi": {
          "id": "JzWWQMOyjNSWgRD9",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "146a7efe-1083-44ae-9d2b-03c6cb3920bd",
              "name": "Email Context",
              "value": "=Customer Email Address: \n{{ $json.from.value[0].address }}\nEmail Subject:\n{{ $json.subject }}\nEmail Body:\n{{ $json.text }}\n\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        -464
      ],
      "id": "56061e2a-157a-4144-909c-b729299f56a7",
      "name": "Parse data"
    },
    {
      "parameters": {
        "jsCode": "// Extract the text field from Gemini's nested structure\nconst text = $input.first().json.content.parts[0].text;\n\ntry {\n  const parsed = JSON.parse(text);\n\n  // Convert human-readable date to MM/DD/YYYY\n  const humanDate = parsed.delivery_date || \"October 10, 2025\"; // fallback if missing\n  const dateObj = new Date(humanDate);\n\n  const month = (dateObj.getMonth() + 1).toString().padStart(2, '0'); // 1-based\n  const day = dateObj.getDate().toString().padStart(2, '0');\n  const year = dateObj.getFullYear();\n\n  const formattedDate = `${month}/${day}/${year}`; // \"10/10/2025\"\n\n  // Add formattedDate to parsed JSON\n  parsed.formattedDate = formattedDate;\n\n  return [{ json: parsed }];\n} catch (e) {\n  return [{ json: { error: \"Invalid JSON from Gemini\", raw: text } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        -464
      ],
      "id": "103b6299-9d26-406b-8a85-829e61d0bb70",
      "name": "Convert JSON string to JSON"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1mNOmvTEnl6qOLTBFjaGXTGLmoXz2TweZTb0BoBDqqVw",
          "mode": "list",
          "cachedResultName": "Test_Data_1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mNOmvTEnl6qOLTBFjaGXTGLmoXz2TweZTb0BoBDqqVw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mNOmvTEnl6qOLTBFjaGXTGLmoXz2TweZTb0BoBDqqVw/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "id",
              "lookupValue": "={{ $json.product_id }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": "={{ true }}"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        512,
        -608
      ],
      "id": "962f85c5-560a-40f8-9de8-080c1909c4ac",
      "name": "Fetch Product by ID from Google Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hy9944p8yM91Q3hC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        720,
        -464
      ],
      "id": "77fd6ac1-9ccd-434a-88c8-3a1cfe7862b3",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map((item) => item.json);\n\nconst combinedData = items.reduce((acc, item) => {\n  return { ...acc, ...item };\n}, {});\n\nreturn [{ json: combinedData }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        -464
      ],
      "id": "65d3913d-bad7-4b09-a232-1c2e5d40baae",
      "name": "aggregator"
    },
    {
      "parameters": {
        "resource": "boardItem",
        "boardId": "5008345556",
        "groupId": "topics",
        "name": "Final-1",
        "additionalFields": {
          "columnValues": "={ \"text_mkwdaf7a\": \"{{ $json.customer }}\", \"email_mkwdyc9\": { \"email\": \"{{ $json.email }}\", \"text\": \"{{ $json.email }}\" }, \"phone_mkwdg1ww\": { \"phone\": \"{{ $json.phone }}\", \"countryShortName\": \"BD\" }, \"numeric_mkwdg8zv\":\"{{ $json.product_id }}\", \"text_mkwd777d\": \"{{ $json.address }}\", \"date_mkwdzpzk\": { \"date\": \"{{ $json.formattedDate }}\" }, \"text_mkwdqmcw\": \"{{ $json.title }}\", \"numeric_mkwdg8zv\": {{ $json.price }}, \"numeric_mkwddcj\": {{ $json.quantity }}, \"long_text_mkwd6rs\": \"{{ $json.description }}\" }"
        }
      },
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        1152,
        -464
      ],
      "id": "f146c416-905d-48dc-8cae-8941cd6587f0",
      "name": "Create an item in a board's group",
      "credentials": {
        "mondayComApi": {
          "id": "iOVPgymSLAKBpjH7",
          "name": "Monday.com account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Parse data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Info from unstructured data": {
      "main": [
        [
          {
            "node": "Convert JSON string to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse data": {
      "main": [
        [
          {
            "node": "Extract Info from unstructured data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert JSON string to JSON": {
      "main": [
        [
          {
            "node": "Fetch Product by ID from Google Sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch Product by ID from Google Sheet": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "aggregator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aggregator": {
      "main": [
        [
          {
            "node": "Create an item in a board's group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "700dcf29-c875-42b3-a15f-c862f443796d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7282dfc2dc15cb6a5d52cb7b5f6d37f573419e3ef89303ce348e9653d50a55bd"
  },
  "id": "K7aG0TuBPYqdIe1y",
  "tags": []
}